#Deny from all

#default from http://ellislab.com/codeigniter/user-guide/general/urls.html
#but it doesn't work
#RewriteEngine on
#RewriteCond $1 !^(index\.php|images|robots\.txt)
#RewriteRule ^(.*)$ /index.php/$1 [L]

#from http://stackoverflow.com/questions/22888742/remove-the-index-php-from-url
RewriteEngine on
RewriteCond $1 !^(index\\.php|resources|robots\\.txt)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L,QSA]